@import 'variables';

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  background-color: $light-gray;
  height: fit-content;
  width: 800px;
  padding: 3em;
  font-size: 28px;
}

.form-text {
  font-size: 32px;
  font-weight: 600;

  // margin-bottom: 30px;
}

.label {
  padding-bottom: 15px;
  font-size: 36px;
  font-weight: 600;

  &-width {
    grid-area: lab-w;
  }

  &-height {
    grid-area: lab-h;
  }
}

.input {
  border: 0.1em solid $solid-purple;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
  width: 100%;
  padding: 0.2em;
  font-size: 32px;

  &-width {
    grid-area: inp-w;
  }

  &-height {
    grid-area: inp-h;
  }

  &-options-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-color-text {
    margin: 0;
    grid-area: input-text;
  }

  &-color {
    border: none;
    margin: 0;
    background: none;
    height: 70px;
    width: 70px;

    &-grad {
      grid-area: input;
    }
  }

  &:focus-visible {
    outline: $dark-purple solid 1px;
  }
}

.button {
  border: none;
  border-radius: 0.5em;
  background-color: $solid-purple;
  width: fit-content;
  padding: 1em 0.5em;
  font-size: 32px;
  font-weight: 600;
  color: #fdfdfd;
  cursor: pointer;

  &-remove {
    background: #f5f5f5 url('../assets/cross.svg') center no-repeat;
    height: 1.5em;
    width: 1.5em;
    padding: 0;

    &-grad {
      grid-area: button;
    }
  }

  &-add {
    background: #fdfdfd url('../assets/plus.svg') center no-repeat;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
  }

  &:disabled {
    background: $dark-gray;
  }
}

.spoiler {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    margin-bottom: 20px;
    background-color: $solid-gray;
    height: 80px;
    width: 100%;
    padding: 0 1em;
    cursor: pointer;
  }

  &-text {
    font-size: 40px;
  }

  &-arrow {
    display: block;
    background: url('./../assets/arrow-down.svg') no-repeat center/cover;
    height: 50px;
    width: 50px;
  }
}

.additional-container {
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.dimensions {
  &-container {
    display: grid;
    grid-template:
      'lab-w lab-h' auto
      'inp-w inp-h' auto / 1fr 1fr;
    column-gap: 20px;
  }
}

.bkg-img {
  &-container {
    margin-bottom: 1.5em;
  }

  &-checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }

  &-sources-container {
    display: flex;
    align-items: center;
    border-radius: 1em;
    margin-bottom: 1.5em;
    background-color: $solid-gray;
    height: 100px;
    padding: 0 20px;
    gap: 10px;

    & .selectable-bubble {
      border-radius: 0.75em;
      margin: 0;
      background-color: $light-gray;
      padding: 20px;
      font-size: 32px;
      font-weight: 600;
      cursor: pointer;

      &.active {
        background-color: $solid-purple;
        color: #fdfdfd;
      }
    }
  }

  &-input {
    margin: 0;
    height: 40px;
    width: 40px;
  }
}

.bckg-options-container {
  background: $solid-gray;
  border-radius: 1em;
  padding: 2em 1em;
}

.solid-color-container {
  display: grid;
  grid-template-columns: auto auto min-content;
  grid-template-areas:
    'label label label'
    'text text color';
  gap: 10px;

  & .label-input {
    grid-area: label;
  }

  & .input-color-text {
    grid-area: text;
  }

  & .input-color {
    grid-area: color;
    justify-self: center;
  }
}

.source-img {
  &-bubble {
    border-radius: 1.5em;
    background-color: $dark-purple;
    padding: 1em;
  }

  &-input {
    margin-bottom: 0.5em;
  }

  &-button {
    background-color: $dark-purple;
    padding: 15px;
  }
}

.grad-input-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: 'input-text input button';
  width: 100%;
}

.grad-add-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
